h1{
    color:chartreuse;
    font-size: xx-large;
    text-align: center;
    text-transform: capitalize;
}
img{
    margin-top: 0px;
    margin-left: 600px ;
    
    position: relative;
}
div{
    background-color: lightblue;
}
.azul{
    color: blue;
}
.amarillo{
    position: relative;
    color: yellowgreen;
    margin: 100px;

}
.circulo{
    height: 150px;
    width: 150px;
    border-style: solid;
    border-radius: 75px;
    position:relative;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}
.contenedor {
  display: flex;
  flex-flow: row wrap;
  background-color: DodgerBlue;
  justify-content: space-between;
  align-items: stretch;
  overflow: hidden;
}
.entrada{
    border-width: 5px;
    height: 150px;
    font-size: 50px ;
    max-width: 100px;
}
.salida{
    border-width: 5px;
    min-height: 150px;
    min-width: 300px;
    font-size: 50px ;
}

.Padding_test{
    margin:100px;
    padding: 20px 20px 50px 100px;
    border-style: solid;
    border-radius: 30px;
}